{
    "rules": {
        "indent": [
            2,
            "tab"
        ]
    },
    "env": {
        "node": true,
        "browser": true
    },
    "globals": {
        "angular": false
    }
}